@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@* @{
    ViewData["Title"] = "Joburg Maintenance Portal";
}

<!-- Hero Section or any custom content -->
<div class="container-fluid bg-dark text-light hero-section text-center p-5"
     style="background-image: url('~/images/joburg-hero.jpg'); background-size: cover; background-position: center;">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">Welcome to the Joburg Maintenance Portal</h1>
            <p class="lead">Manage your maintenance requests and connect with the city of Johannesburg effortlessly.</p>
            <a class="btn btn-primary btn-lg" href="/Account/Register">Get Started</a>
        </div>
    </div>
</div>
 *@
